.poster {
width:80%;
height: 500px;
}
.boton{
    background-color:white;
    border:none;
}

.asiento{
    text-align: center;
    color:honeydew;
    height:40px;
    margin-bottom: 15px;
    cursor:pointer;
    border:2px;
    border-style:solid;
    border-radius:6px;
    background-color: crimson;
}

.pantalla{
    margin-top:70px;
    height:15px;
    background-color:darkcyan;
    border: 1px;
    border-style: solid;
    border-radius: 8px;
}

.ocupado{
    background-color: crimson;
    opacity: 0.2;
}

.seleccionado{
    border-style:dashed;
    background-color:lightseagreen;
}
