@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-6">
        <img src="~/img/logo.png" class="img-thumbnail" width="100%" />
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-2">
        <div class="row">
            <a href="/Peliculas/Index">
                <img src="~/img/Cartelera.jpg" class="img-thumbnail" width="100%" />
            </a>
            <a href="/Peliculas/Proximamente">
                <img src="~/img/Proximamente.jpg" class="img-thumbnail" width="100%" />
            </a>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>  