@model IEnumerable<cinemas.Models.Entities.Actores>
<div class="row">
    
    @foreach (var item in Model)
    {
        <div class="col-md-3">
            <div class="col-md-6">
                <img src="~/img/@Html.DisplayFor(modelItem => item.Perfil)" width="105px" height="105px"/>
            </div>
            <div class="col-md-6">
                <div class="row glyphicon-bold">
                    @Html.DisplayFor(modelItem => item.Nombre)
                </div>
                <div class="row">
                    @Html.DisplayFor(modelItem => item.Nacimiento) - @Html.DisplayFor(modelItem => item.Nacionalidad)
                </div>
            </div>
        </div>
    }         
</div>

        