@{
    ViewBag.Title = "Asientos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{var nombre = Request.Form["Nombre"]; var Pelicula= Request.Form["Pelicula"]; var Email = Request.Form["Email"]; var Horario = Request.Form["Horario"]; var Fecha = Request.Form["Fecha"]; }
<div>
    @{ var j = 0;}
    @for (j = 0; j < 6; j++)
    {
        <div class="row">
            <div class="col-md-1">

            </div>    
            @{ var i = 1;}
            @for (i = 1; i < 11; i++)
            {
                <div class="col-md-1 asiento libre" onClick="cambiar('asi-@j-@i')" id="asi-@j-@i">
                @j-@i
                </div>  
            }
            <div class="col-md-1">

            </div>
        </div>
    }
    <div class="col-md-2">

    </div>
    <div class="col-md-8 pantalla">
        
    </div>
</div>
